<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kclinic?characterEncoding=utf8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping resource="com/os/models/Prescription.hbm.xml"/>
    <mapping resource="com/os/models/Session.hbm.xml"/>
    <mapping resource="com/os/models/CaseStudy.hbm.xml"/>
    <mapping resource="com/os/models/Medication.hbm.xml"/>
    <mapping resource="com/os/models/Form.hbm.xml"/>
    <mapping resource="com/os/models/Quest.hbm.xml"/>
    <mapping resource="com/os/models/PriceList.hbm.xml"/>
    <mapping resource="com/os/models/Dose.hbm.xml"/>
    <mapping resource="com/os/models/Patient.hbm.xml"/>
    <mapping resource="com/os/models/Concentration.hbm.xml"/>
    <mapping resource="com/os/models/Detection.hbm.xml"/>
    <mapping resource="com/os/models/Reservation.hbm.xml"/>
    <mapping resource="com/os/models/User.hbm.xml"/>
    <mapping resource="com/os/models/QuestAnswer.hbm.xml"/>
    <mapping resource="com/os/models/DetectionStudy.hbm.xml"/>
    <mapping resource="com/os/models/Category.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
